:root {
  --color-background: #000;
  --color-text: #fff;
  --color-link: #cdd2d4;
  --color-primary: #eb5424;
  --spacing-sm: 0.825rem;
  --spacing-base: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 3rem;
  --border-radius-base: 4px;
}

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

.container {
  max-width: 1200px;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg);
}

header nav {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

header nav a {
  color: var(--color-link);
}

.margin-right-1 {
  margin-right: var(--spacing-base);
}

.logo {
  margin-right: var(--spacing-xl);
}

.menubar {
  display: none;
}

.nav-links {
  display: flex;
  padding-left: 0;
}

.nav-links li {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}

.btn {
  padding: var(--spacing-sm) var(--spacing-base);
  color: var(--color-text);
  background-color: var(--color-primary);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary);
  border-radius: var(--border-radius-base);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

main h1 {
  font-size: 5rem;
  font-weight: 400;
}

.mobile-menubar {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: inherit;
}

.mobile-menubar ul {
  padding-left: 0;
  margin: 0;
}

.mobile-menubar ul li {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--color-link);
}

.mobile-menubar ul li:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-link);
}

.mobile-menubar ul li a {
  display: block;
  padding: var(--spacing-lg);
  color: var(--color-link);
}

.mobile-menubar.show {
  display: block;
  position: absolute;
}

.btn-icon {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  fill: var(--color-text);
}

.hide {
  display: none;
}

@media (min-width: 769px) {
  .menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
  }

  #mobile-menu-btn {
    display: none;
  }
}
